<style>
  button.btn-primary {
    background-color: grey;
    border-color: grey;
  }

  button.btn-primary:hover {
    background-color: rgba(234, 84, 85, 1);
    border-color:rgba(234, 84, 85, 1) ;
  }
</style>

<h1>Gestión de asignaturas y alumnos</h1>

{{#if errors}}
  <div class="alert alert-danger">
    Revisa el formulario.
  </div>
{{/if}}

<h2>Añadir alumno a asignatura</h2>

<form action="gestion" method="POST">
  <div class="mb-3">
    <label for="subject" class="form-label">Selecciona asignatura</label>
    <select class="form-select" aria-label="Default select example" name="subject">
      <option value="" disabled selected hidden>Asignaturas</option>
      {{#each subjects as |subject|}}
      <option value="{{subject._id}}">{{subject.name}}</option>
      {{/each}}
    </select>
    {{#if errors.subject}}
      <div class="invalid-feedback">
        {{errors.subject.message}}
      </div>
    {{/if}}
  </div>
  
  <div class="mb-3">
    <label for="student" class="form-label">Selecciona alumn@</label>
    <select class="form-select" aria-label="Default select example" name="student">
      <option value="" disabled selected hidden>Alumn@</option>
      {{#each students as |student|}}
      <option value="{{student._id}}">{{student.name}} {{student.lastName}}</option>
      {{/each}}
    </select>
    {{#if errors.student}}
      <div class="invalid-feedback">
        {{errors.student.message}}
      </div>
    {{/if}}
  </div>
  
  <button type="submit" class="btn btn-primary mt-1 mb-5">Añadir</button>
</form>

<h2>Eliminar alumno de asignatura</h2>

<form action="/gestion/remove" method="POST">
  <div class="mb-3">
    <label for="subject" class="form-label">Selecciona asignatura</label>
    <select class="form-select" aria-label="Default select example" name="subject">
      <option value="" disabled selected hidden>Asignaturas</option>
      {{#each subjects as |subject|}}
      <option value="{{subject._id}}">{{subject.name}}</option>
      {{/each}}
    </select>
    {{#if errors.subject}}
      <div class="invalid-feedback">
        {{errors.subject.message}}
      </div>
    {{/if}}
  </div>
  
  <div class="mb-3">
    <label for="student" class="form-label">Selecciona alumn@</label>
    <select class="form-select" aria-label="Default select example" name="student">
      <option value="" disabled selected hidden>Alumn@</option>
      {{#each students as |student|}}
      <option value="{{student._id}}">{{student.name}} {{student.lastName}}</option>
      {{/each}}
    </select>
    <input type="text" hidden value="gestion" name="path">
    {{#if errors.student}}
      <div class="invalid-feedback">
        {{errors.student.message}}
      </div>
    {{/if}}
  </div>
  
  <button type="submit" class="btn btn-danger mt-1 mb-5">Eliminar</button>
</form>
