<head>
<style>
        body{
            margin-top:20px;
            background-color:rgb(234, 84, 85, 255);
        }

        .be-comment-block {
            margin-bottom: 50px !important;
            background-color:rgb(255, 255, 255);
            border: 1px solid #edeff2;
            border-radius: 2px;
            padding: 50px 70px;
            border:1px solid #ffffff;
        }

        .comments-title {
            font-size: 16px;
            color: #000000;
            margin-bottom: 15px;
            
        }

        .be-img-comment {
            width: 60px;
            height: 60px;
            float: left;
            margin-bottom: 15px;
        }

        .be-ava-comment {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        .be-comment-content {
            margin-left: 80px;
        }

        .be-comment-content span {
            display: inline-block;
            width: 49%;
            margin-bottom: 15px;
        }

        .be-comment-name {
            font-size: 13px;
            font-family: 'Conv_helveticaneuecyr-bold';
        }

        .be-comment-content a {
            color: #000000;
        }

        .be-comment-content span {
            display: inline-block;
            width: 49%;
            margin-bottom: 15px;
        }

        .be-comment-time {
            text-align: right;
        }

        .be-comment-time {
            font-size: 11px;
            color: #b4b7c1;
        }

        .be-comment-text {
            font-size: 18px;
            line-height: 18px;
            color: #0c0d0e;
            display: block;
            background: #f6f6f7;
            border: 1px solid #edeff2;
            padding: 15px 20px 20px 20px;
        }

        .form-group.fl_icon .icon {
            position: absolute;
            top: 1px;
            left: 16px;
            width: 48px;
            height: 48px;
            background: #f6f6f7;
            color: #b5b8c2;
            text-align: center;
            line-height: 50px;
            -webkit-border-top-left-radius: 2px;
            -webkit-border-bottom-left-radius: 2px;
            -moz-border-radius-topleft: 2px;
            -moz-border-radius-bottomleft: 2px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        .form-group .form-input {
            font-size: 13px;
            line-height: 50px;
            font-weight: 400;
            color: #000000;
            width: 100%;
            height: 50px;
            padding-left: 20px;
            padding-right: 20px;
            border: 1px solid #edeff2;
            border-radius: 3px;
        }

        .form-group.fl_icon .form-input {
            padding-left: 70px;
        }

        .form-group textarea.form-input {
            height: 150px;
        }
          button.btn-primary {
            background-color: rgb(81, 81, 81);
            border-color: rgb(81, 81, 81);
        }

        button.btn-primary:hover {
            background-color: rgb(0, 161, 121);
            border-color:rgb(0, 0, 0) ;
        }
    
    </style>
    </head>
<body style="font-family: 'Patrick Hand SC', cursive;">
    

        
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="be-comment-block">
            <h1 class="comments-title">Mensajes</h1>
            {{#each messages as |message|}}
            <div class="be-comment">
                <div class="be-img-comment">	
                    <a href="blog-detail-2.html">
                        <img src="{{message.userFrom.profilePic}}" alt="" class="be-ava-comment">
                    </a>
                </div>
                <div class="be-comment-content">
                    
                        <span class="be-comment-name">
                            <h4>
                            <a href="blog-detail-2.html">{{message.userFrom.name}}</a>
                            </h4>
                            </span>
                        <span class="be-comment-time">
                            <i class="fa fa-clock-o"></i>
                            {{date message.createdAt}}
                        </span>
                <h5>
                    <p class="be-comment-text">
                        {{message.message}}
                    </p>
                </h5>
                </div>
            </div>
            {{/each}}
            
                
        </div>
    </div>
    <div class="container rounded bg-white mt-5 mb-5">
      <form action="/messages/{{userTo}}/chat" method="POST">
      <div class="col-xs-12">
      <div class="form-group">
        <label name="message" id="message" type="text" class="label"></label>
        <input class="form-input mt-1 mb-4" value="{{message.message}}" name="message" type="text" required placeholder="Introduce un mensaje"
       oninvalid="ths.setCustomValidity('Introduce un mensaje')"
       oninput="setCustomValidity('')"/>
        <br>
      </div>
    </div>
  </div>
  <button type="submit" id="submit" class="btn btn-primary d-grid gap-2 col-2 mx-auto">Enviar</button>
</form>
    </div>
</body>